.input-item {
    margin: 20px;
    display: flex;
}

.input-item label {
    height: 32px;
    line-height: 32px;
    width: 150px;
}

.input-item input {
    width: 250px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    outline: none;
    background: none;
    padding: 0 10px;
}