#app {
	margin: 0 auto;
}

section {
	margin: 20px 0;
}

.level {
	padding: 20px;
	border: 1px solid #eeeeee;
	cursor: pointer;
	margin: 0 auto;
}

.level-1 {
	background: rgba(255, 0, 0, 0.5);
}

.level-2 {
	background: rgba(0, 255, 0, 0.5);
}

.level-3 {
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 255, 0.5);
}
